.header {
  height: 5%;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: #0000007b;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.header-content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 1.2em;
  cursor: pointer;
  width: 120px;
}
.header-logo-semi {
  display: inline-block;
  padding: 0 1px 0 5px;
}
.header-content span {
  color: #7991c1;
}
.support {
  font-size: 0.9em;
  align-items: flex-end;
  transition: 0.3s;
  border: 0px solid transparent;
  border-bottom-width: 1px;
}
.support:hover {
  color: #e4e4e4;
  cursor: pointer;
  border-color: #7991c1;
}
